body {
    margin: 30px auto;
    padding: 0 20px;
    min-width: 200px;
    color: #777;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans","Tahoma",sans-serif;
    line-height: 18px;
}
.projects-list{
    list-style: none;
}
.projects-list__item{
    margin-bottom: 6px;
}
.projects-list__item a{
    color: #777;
}
.main-section__header {
    margin-bottom: 4px;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}
